:root {
	--bg-light: #e0f7fa;
	--font-base: "Inter", sans-serif;
	--card-radius: 12px;
	--card-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-base);
	background: linear-gradient(180deg, #ebf4f6, #ffffff);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
